// main.scss stores quick variable stuff & global fixes

:root {
  --font-primary: "Atkinson Hyperlegible", Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  --font-display: Ubuntu, "Atkinson Hyperlegible", Whitney, "Helvetica Neue", Helvetica, Arial,
    sans-serif !important;

  --channeltextarea-background: var(--background-tertiary);
  --radio-bar-accent-color: transparent;
  --deprecated-text-input-bg: var(--background-secondary);
  --deprecated-text-input-border-disabled: var(--background-secondary);
  --text-brand: var(--brand-experiment);
}

::selection {
  background-color: var(--accent-color);
  color: var(--background-1);
}