@use "colors/purple";

.theme-dark {
  --accent-color: #bde6fb;
  --background-1: #171d20;
  --background-2: #1e2529;
  --background-accent: #1e2529;
  --border-color: #273034;
}

.theme-light {
  --accent-color: #22c5fd;
  --background-1: #ffffff;
  --background-2: #f5f7fa;
  --background-accent: var(--background-2);
  --border-color: transparent;
}
